.main {
    background-image: url("../../Assets/home-main-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
}

.main h1 {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
}

.main span {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #D4D4D8;
}

#home-main-search-form div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 17px 16px 17px 20px;
    gap: 13px;
    width: 500px;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.06);
    backdrop-filter: blur(12px);
}

#home-main-search-form div .form-search-icon {
    width: 18px;
    height: 18px;
    color: #A1A1AA;
    width: 5%;
}

#home-main-search-form div input {
    width: 95%;
    outline: none;
    border: none;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: black;
}

#home-main-search-form button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 10px;
    width: 500px;
    height: 40px;
    background: #E80E0F;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    text-align: right;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    outline: none;
    border: none;
}

.achievements {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 50px;
}

.achievements span h1 {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    color: #FFFFFF;
}

.achievements span {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #D4D4D8;
}



/* ================================ */
.category-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.popular-categories-section h1 {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 35px;
    color: #151518;
}

.items-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
}



/* FOR SMALL DEVICES */
@media only screen and (min-width: 0px) and (max-width: 576px) {
    .main {
        padding-top: 120px;
        gap: 16px;
    }

    .main h1 {
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 30px;
    }

    .main span {
        font-size: 15px;
        line-height: 19px;
    }

    .achievements {
        margin-top: 0px;
    }

    .popular-categories-section h1 {
        font-size: 20px;
        line-height: 24px;
    }

    .category-cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }

    .popular-categories-card-container {
        width: 100%;
        height: 200px;
        padding: 25px;
    }

    .top-sales {
        margin-top: 2rem !important;
    }

    .items-cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }

    #home-main-search-form {
        padding: 0 20px !important;
    }
}



/* FOR MEDIUM DEVICES */
@media only screen and (min-width: 577px) and (max-width: 991px) {}




/* FOR LARGE DEVICES */
@media only screen and (min-width: 992px) and (max-width: 1200px) {}